*Data Used

* https://www.kaggle.com/datasets/ehallmar/nba-historical-stats-and-betting-data  
* Evan Hallmark (Kaggle username: ehallmar)  
*Key Files Used*
- `nba_games_all.csv` – detailed game-by-game box scores and outcomes
- `nba_betting_money_line.csv` – money line odds from multiple sportsbooks (Pinnacle, 5Dimes, Bovada, etc.)

In [4]:
import pandas as pd
import numpy as np

folder = '/Users/tyler/Downloads/archive/'

# Load both datasets
games = pd.read_csv(folder + 'nba_games_all.csv')
odds  = pd.read_csv(folder + 'nba_betting_money_line.csv')

In [5]:
print("GAMES DATASET")
print(f"Shape: {games.shape[0]:,} rows × {games.shape[1]} columns")
print("\nFirst 5 rows:")
display(games.head())

print("\nColumns and data types:")
games.info()

GAMES DATASET
Shape: 125,624 rows × 32 columns

First 5 rows:

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,...,ast,stl,blk,tov,pf,pts,a_team_id,season_year,season_type,season
0,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,19.0,5.0,4.0,18.0,26.0,111,1610612758,2008,Regular Season,2008-09
1,20800701,2009-01-31,POR vs. UTA,1610612762,f,L,26.0,22.0,0.542,240,...,17.0,6.0,0.0,15.0,22.0,108,1610612757,2008,Regular Season,2008-09
2,20800584,2009-01-16,MEM vs. UTA,1610612762,f,W,24.0,16.0,0.600,240,...,23.0,9.0,3.0,15.0,22.0,101,1610612763,2008,Regular Season,2008-09
3,20800558,2009-01-12,IND @ UTA,1610612762,t,W,23.0,15.0,0.605,240,...,24.0,10.0,6.0,8.0,20.0,120,1610612754,2008,Regular Season,2008-09
4,20800440,2008-12-27,HOU vs. UTA,1610612762,f,L,18.0,14.0,0.563,290,...,35.0,13.0,7.0,9.0,27.0,115,1610612745,2008,Regular Season,2008-09

Columns and data types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125624 entries, 0 to 125623
Data columns (total 32 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   game_id      125624 non-null  int64
 1   game_date    119376 non-null  object
 2   matchup      125624 non-null  object
 3   team_id      125624 non-null  int64
 4   is_home      125624 non-null  object
 5   wl           125614 non-null  object
 6   w            41000 non-null   float64
 7   l            41000 non-null   float64
 8   w_pct        41000 non-null   float64
 9   min          125624 non-null  int64
 10  fgm          125607 non-null  float64
 11  fga          90894 non-null   float64
 12  fg_pct       90871 non-null   float64
 13  fg3m         95248 non-null   float64
 14  fg3a         84316 non-null   float64
 15  fg3_pct      80062 non-null   float64
 16  ftm          125605 non-null  float64
 17  fta          120011 non-null  float64
 18  ft_pct       119960 non-null  float64
 19  oreb         83786 non-null   float64
 20  dreb         83639 non-null   float64
 21  reb          125624 non-null  int64
 22  ast          90068 non-null   float64
 23  stl          83960 non-null   float64
 24  blk          84407 non-null   float64
 25  tov          84293 non-null   float64
 26  pf           121742 non-null  float64
 27  pts          125624 non-null  int64
 28  a_team_id    125624 non-null  int64
 29  season_year  125624 non-null  int64
 30  season_type  125624 non-null  object
 31  season       125624 non-null  object
dtypes: float64(19), int64(7), object(6)
memory usage: 30.7+ MB

In [6]:
print("ODDS DATASET")
print(f"Shape: {odds.shape[0]:,} rows × {odds.shape[1]} columns")
print("\nFirst 10 rows (multiple books per game):")
display(odds.head(10))

print("\nColumns and data types:")
odds.info()

ODDS DATASET
Shape: 125,286 rows × 7 columns

First 10 rows (multiple books per game):

    game_id        book_name  book_id     team_id   a_team_id  price1  price2
0  41100314  Pinnacle Sports      238  1610612759  1610612760   165.0  -183.0
1  41100314           5Dimes       19  1610612759  1610612760   165.0  -175.0
2  41100314        Bookmaker       93  1610612759  1610612760   160.0  -190.0
3  41100314        BetOnline     1096  1610612759  1610612760   165.0  -190.0
4  41100314           Bovada   999996  1610612759  1610612760   155.0  -175.0
5  41100314         Heritage      169  1610612759  1610612760   163.0  -188.0
6  41100314        Intertops      180  1610612759  1610612760   165.0  -190.0
7  41100314         YouWager      139  1610612759  1610612760   165.0  -190.0
8  41100314          JustBet     1275  1610612759  1610612760   165.0  -185.0
9  41100314    Sportsbetting   999991  1610612759  1610612760   165.0  -190.0

Columns and data types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125286 entries, 0 to 125285
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   game_id    125286 non-null  int64
 1   book_name  125286 non-null  object
 2   book_id    125286 non-null  int64
 3   team_id    125286 non-null  int64
 4   a_team_id  125286 non-null  int64
 5   price1     125286 non-null  float64
 6   price2     125286 non-null  float64
dtypes: float64(2), int64(4), object(1)
memory usage: 6.7+ MB

In [51]:
print("Missing values in games:")
print(games.isnull().sum()[games.isnull().sum() > 0])

print("\nMissing values in odds:")
print(odds.isnull().sum())

Missing values in games:
game_date     6248
wl              10
w            84624
l            84624
w_pct        84624
fgm             17
fga          34730
fg_pct       34753
fg3m         30376
fg3a         41308
fg3_pct      45562
ftm             19
fta           5613
ft_pct        5664
oreb         41838
dreb         41985
ast          35556
stl          41664
blk          41217
tov          41331
pf            3882
dtype: int64

Missing values in odds:
game_id      0
book_name    0
book_id      0
team_id      0
a_team_id    0
price1       0
price2       0
dtype: int64